body{
    font-family: "Garuda";
    font-size: 8pt;
}

.table_bordered{
    border: 0.0px solid #000;
    border-collapse: collapse;
    margin-bottom: 10px;
    margin-top: 10px;
}
.table_bordered td{
    border:0.8px solid #000;
    border-collapse: collapse;
    padding: 5px;
}

.table-striped > tbody > tr:nth-of-type(odd) {
  background-color: #f9f9f9;
}

.po-logo{
  border: 0px solid;
}
.po-vendor{
  border: 1px solid gray;
  border-radius: 15px;
  padding: 15px;
}
.po-detail{
  border: 1px solid gray;
  border-radius: 15px;
}
.po-bottom{
  margin-bottom: 15px;
  /*position: absolute;*/
}
.po-bottom-frame{
  border: 1px solid gray;
  border-radius: 15px;
  padding: 15px;
}